<a href="/swicht_main">IMG</a>
<a href="/swicht_clientes">Clientes</a>
<a href="/swicht_empleados">Empleados</a>
<a href="/swicht_productos">Productos</a>
<a href="/swicht_proveedores">Proveedores</a>
<a href="{{ url_for('menu') }}" id="downloadLink">Menu</a>

<br>

<script>
    // Verifica si el enlace fue clickeado y activa la descarga
    document.getElementById('downloadLink').addEventListener('click', function() {
        alert("El archivo PDF está siendo descargado.");
    });
</script>

<br>