<a href="/swicht_main">IMG</a>
<a href="/swicht_clientes">Clientes</a>
<a href="/swicht_empleados">Empleados</a>
<a href="/swicht_productos">Productos</a>
<a href="/swicht_proveedores">Proveedores</a>
<a href="/menu">Menu</a>

<br>
<br>

<form action="/agg_productos" method="POST" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="number" name="precio" placeholder="Precio" step="0.01">    
    <input type="number" name="cantidad" placeholder="Cantidad" step="0.01">
    <input type="text" name="proveedor" placeholder="Proveedor">
    <input type="file" name="imagen" accept="image/*">
    <button type="submit">
        Save
    </button>
</form>

<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<br>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Cantidad</td>
            <td>Imagen</td>
            <td>Proveedor</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.1 }}</td>
                <td>{{ producto.2 }}</td>
                <td>{{ producto.3 }}</td>
                <td>
                    <img src="data:image/jpeg;base64,{{ producto.4 }}" alt="Imagen del producto" width="100">
                </td>
                <td>{{ producto.6 }}</td>
                <td>
                    <a href="/edit/{{ producto.0 }}">Editar</a>
                    <a href="/delete/{{ producto.0 }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
