{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<br>

<a href="/swicht_main" onclick="resetFormulario()">IMG</a>
<a href="/swicht_clientes" onclick="resetFormulario()">Clientes</a>
<a href="/swicht_empleados" onclick="resetFormulario()">Empleados</a>
<a href="/swicht_productos" onclick="resetFormulario()">Productos</a>
<a href="/swicht_proveedores" onclick="resetFormulario()">Proveedores</a>
<a href="/menu">Menu</a>

<br>

<script>
    function resetFormulario() {
        fetch('/reset_bandera', { method: 'POST' })
            .then(response => console.log("Bandera cambiada en el servidor"))
            .catch(error => console.error("Error al cambiar bandera:", error));
    }
</script>

<br>

<form action="/agg_proveedores" method="POST" enctype="multipart/form-data">
    {% if bandera %}
    <!-- Editar proveedor -->
    <input type="text" name="nombre" placeholder="Nombre" value="{{ proveedor_m[1] }}" required>
    <input type="text" name="telefono" placeholder="Teléfono" value="{{ proveedor_m[2] }}" required>
    <input type="email" name="gmail" placeholder="Correo electrónico" value="{{ proveedor_m[3] }}" required>
    {% else %}
    <!-- Agregar nuevo proveedor -->
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="text" name="telefono" placeholder="Teléfono" required>
    <input type="email" name="gmail" placeholder="Correo electrónico" required>
    {% endif %}

    <button type="submit">Guardar</button>
    <button type="button" onclick="window.location.href='/swicht_proveedores'; resetFormulario()">Limpiar</button>
</form>

<br>

<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este proveedor?");
    }
</script>

<br>

<form action="{{ url_for('buscar_proveedores') }}" method="GET">
    <input type="text" name="query" placeholder="Buscar proveedores..." required>
    <button type="submit">Buscar</button>
</form>

<br>

{% if query %}
    <h3>Resultados para "{{ query }}"</h3>
{% endif %}

<br>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Teléfono</td>
            <td>Gmail</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.1 }}</td>
                <td>{{ proveedor.2 }}</td>
                <td>{{ proveedor.3  }}</td>
                <td>
                    <a href="/editar_proveedores/{{ proveedor.0 }}" onclick="window.location.href='/swicht_proveedores'">Editar</a>
                    <a href="/eliminar_proveedores/{{ proveedor.0 }}" onclick="resetFormulario(); return confirmarEliminacion()">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
